.Text {
    font-size: 7.5vmin;
    user-select: none;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
  
.Input {
    border-radius: 1rem;
    border: 1px solid #ff0000;
    -webkit-tap-highlight-color: transparent;
}

.Container {
    font-size: 3.5rem;
    display: grid;
    grid-template-columns: 8% auto 1fr 8%;
    align-content: center;
    grid-gap: 0.8rem;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .Container {
        grid-template-columns: 12% auto 1fr 12%;
    } 
}

@media only screen and (min-width: 800px) {
    .Container {
        grid-template-columns: 18% auto 1fr 18%;
    } 
}

@media only screen and (min-width: 1200px) {
    .Container {
        grid-template-columns: 25% auto 1fr 25%;
    } 
}

